#!/bin/bash
#
# (c) Copyright 2015-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# This is script must be run on a sles system to ensure the existence of the
# commands, e.g., create_update_source.sh, create_package_descr,
# create_sha1sums
# Usage:
#   ./create_sles_extras_tarball.sh [<work_dir>]

set -e
set -o pipefail

ZYPPER_CACHE_BASE=/var/cache/zypp/packages

# create hashmap for storing repo name to related packages mapping
declare -A packages_per_repo

{% for extra in vagrant_vm_sles_extras %}
repo_pkg_names=(
{%   for pkg in extra.pkgs %}
    "{{ pkg }}"
{%   endfor %}
)
packages_per_repo["{{ extra.repo }}"]=${repo_pkg_names[*]}
{% endfor %}


repos=(
{% for extra in vagrant_vm_sles_extras %}
    {{ extra.repo }}
{% endfor %}
)

create_repo()
{
    local scratch_dir updates_dir repo_dir zypper_cache
    local rpm_file rpm_name arch pkg_dir arch_dir cache_dir

    scratch_dir=${WORK_DIR}/scratch
    updates_dir=${scratch_dir}/updates
    repo_dir=${WORK_DIR}/${1}
    zypper_cache=${ZYPPER_CACHE_BASE}/${1}

    # also retrieve matching source rpms for the packages
    echo "Downloaded RPMs in ${1}:"
    find ${zypper_cache} -type f -name "*.rpm"
    for rpm_file in $(sudo find ${zypper_cache} -type f -name "*.rpm")
    do
        rpm_name=$(rpm -q --qf "%{NAME}" -p ${rpm_file})
        echo "*** Downloading Source RPM for: ${rpm_name}"
        sudo zypper \
            --non-interactive \
            source-install \
            --download-only \
            --no-build-deps \
            --repo ${1} ${rpm_name}
    done
    echo "Downloaded Source RPMs in ${1}:"
    sudo find ${zypper_cache} -type f -name "*.src.rpm"

    # delete any previous scratch area
    rm -rf ${scratch_dir}

    # create new scratch area
    mkdir -p ${scratch_dir}
    create_update_source.sh ${scratch_dir}

    for arch in noarch x86_64 src
    do
        pkg_dir=${updates_dir}/suse/${arch}
        for arch_dir in suse/${arch} ${arch}
        do
            cache_dir=${zypper_cache}/${arch_dir}
            if [ -d "${cache_dir}" ]; then
                mkdir -p ${pkg_dir}
                cp -r ${cache_dir}/* ${pkg_dir}
            fi
        done
    done

    pushd ${updates_dir}
    [[ -d ${updates_dir}/suse ]] && pushd suse
    create_package_descr -x setup/descr/EXTRA_PROV
    [[ -d ${updates_dir}/suse ]] && popd
    create_sha1sums -x -n .
    popd

    mv ${updates_dir} ${repo_dir}

    rm -rf ${scratch_dir}
}

if (( $# >= 1 ))
then
    WORK_DIR=${1}
else
    WORK_DIR=$(mktemp -d /tmp/.sles_extras_tarball.XXXXXXXX)
fi

sudo zypper clean

for key in "${!packages_per_repo[@]}"
do
    sudo zypper \
        --non-interactive \
        install \
        --download-only \
        --from $key \
        ${packages_per_repo[$key]}
done

for repo in ${repos[@]}
do
    create_repo ${repo}
done

sudo tar -C ${WORK_DIR} -caf /tmp/sles12_extras_tarball.tgz ${repos[@]}
sudo rm -rf ${WORK_DIR}
