Vagrant.configure("2") do |config|
{% if images_build_images[image_build_name].guest is defined -%}
  # vagrant sometimes cannot auto detect guests as debian based, so
  # supply this if it's configured for the given box
  config.vm.guest = {{ images_build_images[image_build_name].guest }}
{% endif %}

  # provide username/password combination used when building box
  config.ssh.username = "{{ image_build_user }}"
  config.ssh.password = "{{ image_build_password }}"

  # ensure libvirt provider is selected as default
  config.vm.provider :libvirt do |libvirt|
    libvirt.driver = "kvm"
  end
end
