#!/bin/bash
#
# (c) Copyright 2015-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#

set -eux
set -o pipefail

#
# Script to prepare the deployer to run Ardana Ansible
#
ARDANA_INIT_AUTO=${ARDANA_INIT_AUTO:+y}
SCRIPT_DIR="$(readlink -e $(dirname "${BASH_SOURCE}"))"
owner="$(stat -c '%U' "$SCRIPT_DIR")"
group="$(stat -c '%G' "$SCRIPT_DIR")"

ansible_package_dir="{{ PACKAGE_CONSTANTS.INSTALL_DIR }}/ansible-{{ deployer_version }}"
ansible_service_dir="{{ PACKAGE_CONSTANTS.SERVICE_DIR }}/ansible-{{ deployer_version }}"
ansible_generic_service_dir="{{ PACKAGE_CONSTANTS.SERVICE_DIR }}/ansible"

script_ansible="${SCRIPT_DIR}/ansible/{{ deployer_version }}"
script_input_model="${SCRIPT_DIR}/input-model/{{ deployer_version }}"

#
# User output directories.
#
ardana_output_dir="$(dirname "${SCRIPT_DIR}")"
ardana_staging_dir="${ardana_output_dir}/openstack-input"
ardana_ansible_parent_dir="${ardana_staging_dir}/ardana"
ardana_ansible_dir="${ardana_ansible_parent_dir}/ansible"
ardana_target_dir="${ardana_output_dir}/openstack"
ardana_deploy_dir="${ardana_output_dir}/scratch/ansible"
ardana_extensions_dir="${ardana_staging_dir}/ardana_extensions"

# Create ssh keys for the current user (if they don't exist) and make sure
# that user is allowed to ssh to localhost without a password.
if [ ! -d ~/.ssh ]; then
    mkdir ~/.ssh
    chmod 0700 ~/.ssh
fi
pushd ~/.ssh > /dev/null
# Disable GSSAPI authentication because it's not configured and that causes
# delays in creating ssh connections to RedHat nodes. If the user has already
# customized their ssh config then leave it alone.
if [ ! -e config ]; then
    cat > config << EOF
Host *
    GSSAPIAuthentication no
EOF
    chmod 0600 config
fi
if [ ! -e id_rsa ]; then
    if [ -z "${ARDANA_INIT_AUTO}" ]; then
        ssh-keygen -q -t rsa -f id_rsa
    else
        ssh-keygen -q -t rsa -N "" -f id_rsa
    fi
fi
if ! grep -q "`cat id_rsa.pub`" authorized_keys; then
    cat id_rsa.pub >> authorized_keys
    chmod 0600 authorized_keys
fi
popd > /dev/null
# Check that ssh works, with no password. The bash option -e is in force
# so we will abort at this point if there's a problem.
ssh -o PasswordAuthentication=no -o StrictHostKeyChecking=no localhost date

#
# Clean-up any old deploys first.
#
sudo rm -rf "${ansible_package_dir}" \
  "${ansible_service_dir}" \
  "${script_ansible}" \
  "${ardana_staging_dir}"

# Get Deployer OS name
OS="hpelinux"
if [ -f /etc/os-release ]; then
   . /etc/os-release
   OS=$NAME
fi

#
# Get an Ansible venv set-up (bootstrap Ansible)
#
sudo mkdir -p "${ansible_package_dir}"
sudo mkdir -p "${ansible_service_dir}"
# Extract the Ansible venv from the venv tarball.
if [ "${OS,,}" == "sles" ]; then
   sudo tar xOf "${ardana_output_dir}/{{ deployer_sles12_venv_tarball }}" \
     "./ansible-{{ deployer_version }}.tgz" |
     sudo tar zx --owner "root" --group "root" -C "${ansible_package_dir}"
else
   sudo tar xOf "${ardana_output_dir}/{{ deployer_hlinux_venv_tarball }}" \
     "./ansible-{{ deployer_version }}.tgz" |
     sudo tar zx --owner "root" --group "root" -C "${ansible_package_dir}"
fi

sudo ln -sf "${ansible_package_dir}" "${ansible_service_dir}/venv"
sudo rm -f "${ansible_generic_service_dir}"
sudo ln -sf "${ansible_service_dir}" "${ansible_generic_service_dir}"
# Make 'ansible-playbook', 'ansible-vault' and 'ansible' available to all Users.
sudo ln -sf "${ansible_service_dir}/venv/bin/ansible-playbook" \
  "/usr/bin/ansible-playbook"
sudo ln -sf "${ansible_service_dir}/venv/bin/ansible-vault" \
  "/usr/bin/ansible-vault"
sudo ln -sf "${ansible_service_dir}/venv/bin/ansible" \
  "/usr/bin/ansible"

#
# Set-up Ansible playbooks.
#
mkdir -p "${script_ansible}"
tar xf "${ardana_output_dir}/{{ deployer_ansible_tarball }}" \
  --owner "${owner}" --group "${group}" \
  -C "${script_ansible}"
# Create user output directory and place ansible playbooks in it.
mkdir -p "${ardana_ansible_dir}"
cp -r "${script_ansible}"/* "${ardana_ansible_dir}"
# Create CP credentials change directory
mkdir -p "${ardana_target_dir}/change_credentials"

#
# Set up ardana-extensions area
#
mkdir -p "${ardana_extensions_dir}"
tar xf "${ardana_output_dir}/{{ deployer_ardana_extensions_tarball }}" \
  --owner "${owner}" --group "${group}" \
  -C "${ardana_extensions_dir}"


#
# Set-up default Ansible config.
#
# Clear down any old user Ansible config.
rm -rf "${ardana_output_dir}/.ansible.cfg"
pushd "${ardana_ansible_dir}" &>/dev/null
echo "[defaults]" > ansible.cfg

# FIXME this is just to break up a circular dependency
#   with https://gerrit.suse.provo.cloud/#/c/3520 it can
#   be set back to call deployer-status.yml unconditionally
#   once that review is merged
if [ -f check-zypper-configuration.yml ]; then
  ansible-playbook -i hosts/localhost check-zypper-configuration.yml
else
  ansible-playbook -i hosts/localhost deployer-status.yml
fi

ansible-playbook -i hosts/localhost ansible-init.yml
ansible-playbook -i hosts/localhost git-00-initialise.yml
ansible-playbook -i hosts/localhost deployer-init.yml
ansible-playbook -i hosts/localhost git-01-receive-new.yml
popd &>/dev/null

# Disable persistent fact caching for plays in ${ardana_target_dir}/ardana/ansible/
pushd "${ardana_target_dir}/ardana/ansible/" &>/dev/null
ansible-playbook -i hosts/localhost ansible-init.yml -e \
  'fact_caching_enabled=false \
  ansible_cfg_loc='$(pwd)'/ansible.cfg'
popd &>/dev/null

# Create base venv package manifest
declare -a dir_list=( {{ PACKAGE_CONSTANTS.REPO_DIR }}/{{ deployer_version }}/{{ package_venv_locations.hlinux[ansible_architecture] }} \
                      {{ PACKAGE_CONSTANTS.REPO_DIR }}/{{ deployer_version }}/{{ package_venv_locations.rhel[ansible_architecture] }} \
                      {{ PACKAGE_CONSTANTS.REPO_DIR }}/{{ deployer_version }}/{{ package_venv_locations.sles[ansible_architecture] }} )
for dir in "${dir_list[@]}"; do
    if [ -e "$dir/packages" ]; then
        sudo cp "$dir/packages" "$dir/base_packages"
    fi
done

#
# Tidy up inputs
#
rm -rf "${ardana_staging_dir}" "${SCRIPT_DIR}"

set +x

echo
tp_dirs=$(shopt -s nullglob dotglob; echo ~/third-party/*/)
if (( {{ '${#tp_dirs}' }} )); then
    RED='\033[0;31m'
    NC='\033[0m'
    echo -e "${RED}Third-party content detected!${NC}"
    echo "To import third-party content, execute the following:"
    echo "    cd ${ardana_target_dir}/ardana/ansible"
    echo "    ansible-playbook -i hosts/localhost third-party-import.yml"
fi

echo
echo "To continue installation copy your cloud layout to:"
echo "    ${ardana_output_dir}/openstack/my_cloud/definition"
echo
echo "Then execute the installation playbooks:"
echo "    cd ${ardana_target_dir}/ardana/ansible"
echo "    git add -A"
echo "    git commit -m 'My config'"
echo "    ansible-playbook -i hosts/localhost cobbler-deploy.yml"
echo "    ansible-playbook -i hosts/localhost bm-reimage.yml"
echo "    ansible-playbook -i hosts/localhost config-processor-run.yml"
echo "    ansible-playbook -i hosts/localhost ready-deployment.yml"
echo "    cd ${ardana_deploy_dir}/next/ardana/ansible"
echo "    ansible-playbook -i hosts/verb_hosts site.yml"
echo
echo "If you prefer to use the UI to install the product, you can"
echo "do either of the following:"
echo "    - If you are running a browser on this machine, you can point"
echo "      your browser to http://localhost:3000 to start the install"
echo "      via the UI."
echo "    - If you are running the browser on a remote machine, you will"
echo "      need to create an ssh tunnel to access the UI.  Please refer"
echo "      to the Ardana installation documentation for further details."
