#
# (c) Copyright 2015 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# Check KVM virtualisation is working.
---

- name: libvirt | _validate_kvm | install kvm-ok
  become: yes
  apt:
    name: cpu-checker
    state: present
  when: ansible_os_family | lower == "debian"

- name: libvirt | _validate_kvm | Gather kvm-ok details
  command: /usr/sbin/kvm-ok
  register: kvm_ok
  changed_when: false
  when: ansible_os_family | lower == "debian"

- name: libvirt | _validate_kvm | Validate kvm installed and working as expected
  fail:
      msg: "VTx needs to be enabled in your BIOS for libvirt to work"
  when: ansible_os_family | lower == "debian" and (not ( kvm_ok.stdout |
        match("INFO[:] /dev/kvm exists\nKVM acceleration can be used") ))

- name: libvirt | _validate_kvm | Check if nested enabled
  shell: systool -vm kvm_intel | grep -i nested
  register: nested_flag
  when:
    - ansible_processor | join(",") is search("Intel")

- name: libvirt | _validate_kvm | Add option for nested KVM
  become: yes
  lineinfile:
    dest: /etc/modprobe.d/qemu-system-x86.conf
    line: '{{ item }}'
    create: yes
    state: present
  with_items:
    - 'options kvm_intel nested=1'
  when:
    - ansible_processor | join(",") is search("Intel")
    - nested_flag.stdout is search("N")
  register: _modprobe_conf_result

- name: libvirt | _validate_kvm | rmmod kvm_intel
  become: yes
  command: rmmod kvm_intel
  when: _modprobe_conf_result is changed

- name: libvirt | _validate_kvm | modprobe kvm_intel
  become: yes
  command: modprobe kvm_intel
  when: _modprobe_conf_result is changed

- name: libvirt | _validate_kvm | Check that /dev/kvm exists
  stat:
    path: /dev/kvm
  register: stat_result

- name: libvirt | _validate_kvm | Check that /dev/kvm exists
  fail:
    msg: /dev/kvm not found - is KVM configured correctly?
  when: not stat_result.stat.exists
