[{{ item.item.alias }}]
name={{ item.item.name }}
baseurl=http://{{ deployer_address }}:79/{{ clmsetup.distros[item.item.distro].http }}/{{ item.item.path }}
{% if item.item.gpgkey is defined %}
gpgkey={{ item.item.gpgkey }}
gpgcheck=1
{% else %}
gpgcheck=0
{% endif %}
enabled=1
