{% for server in input_model_servers %}
{%   set _hosts = [ server.id, server['ip-addr'] ] %}
{%   if server.id != 'deployer' %}
{%     if server.id == input_model_deployer.id %}
{%       set _ = _hosts.append('deployer') %}
{%     endif %}
{%   endif %}
Host {{ _hosts | join(' ') }}
  HostName {{ server['ip-addr'] }}
  User {{ dev_env_cloud_user }}
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
{%   if use_vagrant_ssh_keys is defined %}
  IdentityFile {{ dev_env_vagrant_dir }}/.vagrant/machines/{{ server.id }}/libvirt/private_key
{%   else %}
  IdentityFile {{ playbook_dir }}/roles/cloud-vm/files/id_rsa
{%   endif %}
  IdentitiesOnly yes
  LogLevel FATAL
{%   if not loop.last %}

{%   endif %}
{% endfor %}
