---
all:
  children:
{% if input_model_deployer.id != 'deployer' %}
    deployer:
      hosts:
        "{{ input_model_deployer.id }}":
{% endif %}
    cloud:
      hosts:
{% for server in input_model_servers %}
        "{{ server.id }}":
{% endfor %}
